
/* 첫번째 예시 */
.container{
  border: 4px solid black;
  width: 500px;
  height: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.head{
  border: 4px solid aqua;
  height: 20%;
}

.div-1{
  border: 4px solid red;
  height: 60%;
  display: flex;
}

.div-1>div{
  border: 4px solid violet;
}

.div-1>div:first-child{
  width: 20%;
}

.div-1>div:nth-child(2){
  width: 80%;
}

footer{
  border: 4px solid gray;
  height: 20%;
}






/* 두번째 예시 */
.container-2{
  border: 4px solid black;
  width: 500px;
  height: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction:column;
}

.div-3{
  border: 4px solid greenyellow;
  height: 20%;
  display: flex;
}

.div-3>div:first-child{
  border: 4px solid rgb(247, 0, 0);
  width: 60%;
}
.div-3>div:nth-child(2){
  border: 4px solid rgb(0, 231, 247);
  width: 40%;
}

.div-4{
  border: 4px solid rgb(255, 157, 0);
  height: 60%;
  display: flex;
}

.div-4>div:first-child{
  border: 4px solid rgb(151, 105, 31);
  width: 20%;
}
.div-4>div:nth-child(2){
  border: 4px solid rgb(151, 105, 31);
  width: 80%;
}

.container-2>div:nth-child(3){
  height: 20%;
}




.text{
  width: 500px;
  height: 300px;
  border: 4px solid black;
  
  display: flex;
  /* 아이템간의 간격을 내가 지정 */
  gap: 10px;
}

.text>div{
  border: 4px solid red;
  width: 25%;
  
}

/*
.text>div:nth-child(1){
  flex-grow: 1;
  }
  
  .text>div:nth-child(2){
    flex-grow: 2;
    }
    
    .text>div:nth-child(3){
      flex-grow: 3;
      } 
      */
      
      



/* 세번째 예시 : flex-grow 사용 */
.container-3{
  border: 4px solid black;
  width: 500px;
  height: 300px;
  margin: 10px auto;

  display: flex;
  flex-direction: column;
}

.container-3>div:nth-child(1){
  border: 4px solid rgb(70, 60, 10);
  flex-grow: 1;
}

.div-5{
  border: 4px solid rgb(33, 178, 0);
  flex-grow: 3;
  
  display: flex;
}

.div-5>div{
  border: 4px solid rgb(5, 107, 90);
}

/* 두번째 행 1열 */
.div-5>div:nth-child(1){
  flex-grow: 2;
  /* width: 60%; */
}

/* 두번째 행 2열 */
.div-5>div:nth-child(2){
  flex-grow: 1;
  /* width: 40%; */

  display: flex;
  flex-direction: column;
}

.div-5>div:nth-child(2)>div{
  border: 4px solid rgb(1, 21, 111);
  flex-grow: 1;
}


/*
class를 부여했을때 
.v-flex{
  display: flex;
  flex-direction: column;
}

.v-flex>div{
  border: 4px solid rgb(1, 21, 111);
  flex-grow: 1;(균등분배) or flex-basis:30% 
  width: 50%
} 
*/


