table{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  width: 500px;
  margin: 0px auto;
}

tr,td{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 8px;
  text-align: center;
}

.title-1{
  text-align: center;
  color: aliceblue;
  background-color: burlywood;
  font-weight: bold;
}

.lf-title{
  text-align: left;
}

.back-cl{
  background-color: blanchedalmond;
}





