table{
  width: 600px;
  margin: 0px auto;
  border-collapse: collapse;
  text-align: center;
}

/* 제목행에는 위, 아래 테두리만! */
thead>tr{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: aliceblue;
  background-color: skyblue;
  font-weight: bold;
}
/* 내용행에는 아래 테두리만! */

tbody>tr{
  border-bottom: 1px solid black;
}

td{
  padding: 5px;
}

/* 내용 행에서 짝수번재 행만 배경색 */
tbody>tr:nth-child(even){
  background-color: rgb(217, 234, 253,0.5);
}

/* 내용 행에서 제목 열만 정렬 변경 */
tbody td:nth-child(2){
  text-align: left;
}

/*
 색상 변경 방법
 1. 정해진 키워드 사용(red,blue등등)

 2.RGB 문법 사용(0~F)
  -> 00(R의농도)00(G의농도)00(B의농도)
  ex> #000000 -> 검은색 #FFFFFF -> 흰색
      #00FF00 -> 초록색
  -> rgb(0,0,255) : 0~255 범위
 
  3.RGBA 문법 사용
  rgba(0,0,255,0~1)
  마지막 값이 0이면 투명, 1이면 불투명
  */
