/* 
#3d8d7a
#b3d8a8
#fbffe4
#a3d1c6
*/

.header_container{
  width: 100%;
  padding-bottom: 18px;
}

.login_div{
  text-align: right;
  padding: 10px;
  background-color: #b3d8a8;
  margin-bottom: 2px;
}

.login_div>span>a{
  color: #fbffe4;
  margin-left: 15px;
  text-decoration: none;
}

.banner_div{
  position: relative;
}


.banner_div>img{
  width: 100%;
  display: block;
}

.banner_div>p{
  position: absolute;
  top: 33%;
  left: 10%;
  font-size: 2.5rem;
  color: #f8f1ef;
  letter-spacing: 5px;
}

.menu_div{
  padding: 18px;
  border-bottom: 1px solid #72967e;
}

.menu_ul{
  display: flex;
  gap: 18px;
}