.btn{
  padding: 5px 16px;
  font-size: 0.9rem;
  background-color: #b3d8a8;
  color: #fbffe4;
  border: none;
  border-radius: 5px;
  transition: all 0.3s
}

.btn:hover{
  cursor: pointer;
  background-color: #72967e;
}

.small{
  width: 80px;
}
.normal{
  width: 100px;
}
.large{
  width: 120px;
}